.chat-message
    // text-align: left

.chatter-name
    font-weight: bold

#chat-box
    width: 30vw
    max-height: 30vh
    overflow: auto
    margin: 10px auto
    text-align: left
    padding: 10px
    // border-width: 2px
    border-style: solid